<div class="form-group">
    <label>Pilih Tahun</label>
    <div class="row">
        <select id="aspect_artifactbrowser_ConfigurableBrowse_field_year" class="ds-select-field form-control"
            name="year">
            <option value="-1">(Memilih Tahun)</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2005">2005</option>
            <option value="2000">2000</option>
        </select>
    </div>
    <div class="input-group">
        <input id="aspect_artifactbrowser_ConfigurableBrowse_field_starts_with" class="ds-text-field form-control"
            placeholder="ketik tahun: " name="starts_with" type="text" value=""
            title="Browse for items that are from the given year."><span class="input-group-btn"><button
                id="aspect_artifactbrowser_ConfigurableBrowse_field_submit" class="ds-button-field btn btn-default"
                name="submit" type="submit">Telusuri</button></span>
    </div>
</div>
</div>